/* To use fontawesome, login and get your kits code. Paste the script in your head tag, then search for the icon.  */
/* PLEASE NOTE: When using the debugger tool to chech dimensions of elements in the elements tab (width and height), it is the chatbox-like dimension given that
   you should be looking at, NOT the Box model below. The box model DOES NOT add the break down, but the chatbox does.
*/

/* NOTE: You can use any image resizing tool on the internet */

/* Is aspect ratio, height/width or width/height??? */

/* Border-box is just saying, if there is a child element whose width determines the width of its parent, when I add border or padding to the parent,
   don't increase the content size of the parent.
*/

/*
                             border-box: off      border-box: on

  parent: without border:   low content width    high content width

  parent: with border:      high content width   low content width

  When border-box is on and the parent has border, its CONTENT WIDTH will be the width of the widest child. But its TOTAL WIDTH will be the content width plus the left and right padding.

  When border-box is off and the parent has border, the CONTENT OF THE PARENT CONTAINER WILL INCREASE, and then the TOTAL WIDTH will be the sum of the
  increased content width and the left and right borders.

  THEREFORE, border-box on is used to prevent the content area of a parent element from increasing, when this parent element has borde.

  NOTE: When there is no border and there is also no box-sizing, parent content width is slightly less than when there is no border but there is box-sizing

*/

* {
  margin: 0;
  padding: 0;
  font-family: "poppins", sans-serif;
  box-sizing: border-box;
}

:root {
  --body-color: #efefef;
  --nav-color: #1876f2;
  --bg-color: #fff;
}

.dark-mode {
  --body-color: #0a0a0a;
  --nav-color: #000;
  --bg-color: #000;
}

/* If you notice height is looking greater than width, when both are the same dimension in px, add box-sizing border ox */
/* Box-sizing is for border and padding only */

body {
  background: var(--body-color);
  transition: background 0.3s;
}

nav {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--nav-color);
  padding: 5px 5%;
  position: sticky;
  top: 0;
  z-index: 100;
}

/* STICKY */
/* An element with position: sticky; is positioned based on the user's scroll position.

 A sticky element toggles between relative and fixed, depending on the scroll position. It is positioned relative until a given offset position is met in the viewport - then it "sticks" in place (like position:fixed).

  Just take it that we always use sticky with top:0
*/

/* NOTE: Always remember that flex items determine size of flex container, and their size can make the padding appear larger than is set */

.logo {
  width: 160px;
  margin-right: 45px;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}

/* NOTE: If you do not align items center, the flex items will look stretched */

.nav-left ul li {
  list-style: none;
  display: inline-block;
}

/* NOTE: when using a list tag instead of flex for nav icons, set their display inline-block */

.nav-left ul li img {
  width: 28px;
  margin: 0 15px;
}

/* NOTE: Again we are using margin left and right (overlapping) to separate the icons instead of flex space between */

.nav-user-icon img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  object-fit: cover;
}

.nav-user-icon {
  margin-left: 30px;
}

.search-box {
  background: #efefef;
  width: 350px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}

.search-box img {
  width: 18px;
}

.search-box input {
  width: 100%;
  background: transparent;
  padding: 10px;
  outline: none;
  border: 0;
}
/* Outline property for input box is when we click inside the box, there is a white outline that is different from the default black border. */
/* We just set the border width to 0, instead of just changing the color */
/* NOTE: The search box input border thickness/width increased the height of the serch-box container */
/* NOTE: Even without display flex, padding in a child can make a parent increase in width and height.  */

.online {
  position: relative;
  /* border: 2px solid red; */
}

.online::after {
  content: "";
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  background: #41db51;
  position: absolute;
  top: 0;
  right: 0;
}

/* PLEASE NOTE: When using absolute positioning top, bottom, right, and left, the element is positioned on the INSIDE / WITHIN  the borders of the relative element, NOT the outside of the border. Only the top is set to inside by default, others are not,  */

/* NOTE: Without taking the .online::after out of document flow with position absolute, the border radius will not look like a circle. It would look oval */

/* What is the after:: pseudo selector? */
/*
.float-container {
  border: 4px solid black;
  width: 200px;
  height: 200px;
}

.float-container .box-1 {
  border: 2px solid red;
  width: 500px;
  height: 300px;
  float: left;
}

.float-container .box-2 {
  border: 2px solid green;
  width: 80px;
  height: 80px;
  float: left;
}

.float-container .box-3 {
  border: 2px solid blue;
  width: 80px;
  height: 80px;
  float: left;
}

.clear {
  clear: left;
} */

/* FLOAT AND CLEAR */

/* Use an img or div, and set its float to left or right. Then below it, add an inline element like a span or even a block element like div p or h1 tag with the text
   you want. Then they will flow on the opposite side of the floated block div or img. All other elements below the floated element will flow around it as long as its height dimensions

   CLEAR

   To stop the line boxes (elements below the floated element) flowing around the outside of a floated box, you neeed to apply a CLEAR property to the element that contains those line boxes.

   NOTE PLEASE: The clear property can be left, right, both or none, and IT INDICATES WHICH SIDE OF THE BOX SHOULD NOT BE NEXT TO A FLOATED BOX.
   So in this example, I floated box-1 to the left, and it means all other elements below it go arount it to the left. Then the first div below it with a class clear is cleared to the right.
   This means that the div with class clear (left) should NOT have its left side next to the floated element

   NOTE PLEASE: When you clear an element, THE BROWSER ADDS ENOUGH MARGIN TO THE TOP OF THE ELEMENT TO PUSH THE ELEMENT'S TOP BORDER EDGE VERTICALLY DOWN, PAST THE FLOAT.
*/

/* Always add content to a div. If you don't, even if you give it a width and height, it will not show */

/* An anchor tag (a) is inline, and we can set it's display to block */
/* NOTE: It is possible to cause an element to generate no box at all by setting its display property to none. */

/* POSITIONING */

/* NOTE: There are 3 basic poaitioning schemes in CSS: (1) NORMAL FLOW (2) FLOATS (3) ABSOLUTE POSITIONING......Unless specified, all boxes start life ein positioned in the normal flow.*/
/* As the name suggests, the position of an element's box in the normalflow will be dictated by that element's position in the HTML */
/* Block level boxes will appear vertically one after the other. Inline boxes are laid out in a line horizontally */
/* NOTE: Vertical padding, borders, and margins will have no effect on the height of an inline box */
/* NOTE: Also setting an explicit height or width on an inline box will have no effect either */
/* NOTE: The only way to alter or set the dimensions of an inline box (box of an inline element) is to change the line heihgt property or horizontal borders, padding, or margins */

/* INLINE BLOCK */

/* This allows elements line up horizontally as if it were an inline element, however, the contents of the box behave as though the box were a block-level, including being able to explicitly set widths, heights, vertical margins, and padding */

/* RELATIVE POSITIONING */
/* If you relatively position an element, it will stay exactly where it is. You can then shift the element relative to its starting point by setting a vertical or horizontal position */
/* With relative positioning, the element continues to occupy the original space, whether or not it is offset. As such, offsetting the element can cause it to overlap other boxes*/
/* Relative positioning is actually considered part of the normal flow-positioning model, as the position of the element is relative to its position in the normal flow */
/* Offset is relative to its normal or initial position */

/* ABSOLUTE POSITIONING */
/* Absolute positioning takes the element out the flow of the document, thus taking up no space. Other elements in the normal flow
   of the document will act as though the absolutely positioned element was never there.
*/
/* Offset is relative to parent container i.e, an absolutely positioned element is positioned in relation to its nearest positioned ancestor.
   If the element has no positioned ancestors, it will be positioned in relation to the initial containing block.
*/

/* Because absolutely positioned boxes are taken out of the flow of the document, they can overlap other elements on the page. We can control this with z-index. */

/* It is wise to give a parent container you want to set as relative a dimension of width and height because of an error in internet explorer */

/* To avoid the risk of overlapping when using position absolute and a relatively positioned ancestor, the elements must be given a fixed dimensions */

/* NOOOTEEEEE */
/*
  The main problem people have with positioning is remembering which type of
  positioning is which. Relative positioning is “relative” to the element’s initial
  position in the flow of the document, whereas absolute positioning is “relative”
  to nearest positioned ancestor or, if one doesn’t exist, the initial container block
*/

/* FIXED POSITIONING */

/* This is a sub-category of absolute positioning. The difference is that a fixed element's containing block is the VIEWPORT. */
/* This allows us to create floating elements that always stay at the same position in the window */

/* FLOATING: Applies to block elements */
/* A floated box can either be shifted to the left or right until its outer edge touches the edge of its containing box or ANOTHER FLOATED BOX */
/* Because floated boxes aren't in the normal flow of the document, block boxes in the regular flow of the document behave as if the floated box wasn't there  */

/* When you float Box 1 to the left, it is taken out of the document and moved left of the edge of its containing block
   Because it is no longer in the flow, it takes up no space and actually sits on top of Box 2, obscuring it from vies

   If the containing block is too narrow for all floated elements to fit horizontally, the remaining float will drop down until there is sufficient space
*/

/* LINE BOXES AND CLEARING */
/* We saw that floating an element takes it out of document flow where it no longer exerts an effect on non-floated elements.....but this is NOT STRICTLY TRUE

   If floated element is followed by an element in the flow of document, the element's box will behave as if the float doesn't exist.
   HOWEVER, THE TEXTURAL CONTENT OF THE BOX RETAINS SOME MEMORY OF THE FLOATED ELEMENT AND MOVES OUT OF THE WAY TO MAKE ROOM

   In technical terms, a line box next to a floated element is shortened to make room for the floated element, thereby flowing around the floated box.
   In fact, floats were created to allow text to flow around images.

   NOTE: You can also use overflow: hidden on a parent container with floated children to clear
*/

/* PSEUDO-ELEMENTS AND PSEUDO-CLASSES */

/* PSEUDO-ELEMENTS: They are added to selectors but instead of describing a special state, they allow you to style certain parts of a document */

/* PSEUDO-ELEMENT AND CONTENT ATTRIBUTE */

/* The CONTENT attribute is required for pseudo-elements to render; however, the attribute can have an empty value (e.g. content: "") */

/*
  ::after = inserts content after the content of an element
  ::before = inserts content before the content of an element
  ::first-letter = selects the first letter of each element
  ::first-line = selects the first line of each element
  ::selection = matches the portion of an element that is selected by a user

*/

/* PSEUDO-CLASSES */
/* PSEUDO-CLASSES: These are keywords that allow selection based on information that lies outside of the document tree or that cannot be expressed by other selectors or combinators. This information can be associated to a certain state, location, negations, or languages

:active = applies to any element activated by the user
:target = selects the current active #news element
:first-child = represents any element that is the first child element of its parent
:focus = applies to any element which has the users focus. This can be given by the user's keyoard, mouse events, or other forms of input.


CHILD PSEUDO CLASS

NOTE: The :nth-child(an + b) CSS pseudo-class matches an element that has an + b -1 siblings BEFORE it in te document tree

pseudo-selector        1 2 3 4 5 6 7 8 9 10
:first-child           *
:nth-child(3)              *
:nth-child(n+3)            * * * * * * * *
:nth-child(3n)             *     *     *
:nth-child(3n+1)       *     *     *     *
:nth-child(-n+3)       * * *
:nth-child(odd)        *   *   *   *   *
:nth-child(even)         *   *   *   *   *
:last-child                              *
:nth-last-child(3)                   *
*/

/* Main content starts */
.container {
  display: flex;
  /* border: 3px solid red; */
  justify-content: space-between;
  padding: 13px 5%;
}

.left-sidebar {
  /* background: #cbdffa; */
  /* background: red; */
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  /* height: 100vh; */
}

.right-sidebar {
  /* background: #cbdffa; */
  /* background: var(--bg-color); */
  /* background: red; */
  flex-basis: 25%;
  position: sticky;
  top: 70px;
  align-self: flex-start;
  /* height: 100vh; */
  padding: 20px;
  border-radius: 4px;
  color: #626262;
}

.main-content {
  flex-basis: 47%;
  /* border: 3px solid purple; */
  /* height: 100vh; */
  /* background: blue; */
}

/* align-self : controls alignment of an individual flex item on the cross axis. */
/* align-items : controls alignment of all items on the cross axis. */

/* Whenever we add position sticky, we need to add top */

.imp-links a,
.shortcut-links a {
  text-decoration: none;
  display: flex;
  /* justify-content: space-between; */
  /* border: 2px solid red; */
  align-items: center;
  margin-bottom: 30px;
  color: #626262;
  width: fit-content;
}

.imp-links a img {
  margin-right: 5px;
  width: 25px;
}

.imp-links a:last-child {
  color: #1876f2;
}

.imp-links {
  border-bottom: solid 1px #ccc;
}

.shortcut-links a img {
  width: 40px;
  margin-right: 15px;
  border-radius: 4px;
}

.shortcut-links p {
  margin: 25px 0;
  font-weight: 500;
  color: #626262;
}

.sidebar-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 18px;
  /* border: 2px solid red; */
}

.right-sidebar h4 {
  font-weight: 600;
  font-size: 16px;
}

.sidebar-title a {
  text-decoration: none;
  color: #1876f2;
  font-size: 12px;
}

.event {
  display: flex;
  /* border: 2px solid red; */
  margin-bottom: 20px;
  font-size: 14px;
}

.left-event {
  /* border: 2px solid green; */
  border-radius: 10px;
  width: 65px;
  height: 65px;
  margin-right: 15px;
  padding-top: 10px;
  text-align: center;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left-event span {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  /* border: 2px solid yellow; */
  background: #1876f2;
  color: #fff;
  padding: 4px 0;
  font-size: 10px;
}

/* PLEASE NOTE: A child element text can be centered within its parent by setting its width to 100% */

.event p {
  font-size: 12px;
}

.event a {
  font-size: 12px;
  text-decoration: none;
  color: #1876f2;
}

.right-event {
  /* border: 2px solid orange; */
}

.sidebar-ads {
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
}

.online .myimage-container img {
  object-fit: cover;
}

/* PLEASE NOTE: Avoid putting class on an img tag and styling the class. Rather, you should use a container div, and then target and style the img tag. */

.online-list {
  display: flex;
  /* border: 2px solid red; */
  align-items: center;
  margin-bottom: 10px;
}

.online-list .online img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  /* border: 1px solid red; */
}

.online-list .online {
  width: 40px;
  /* border-radius: 50%; */
  margin-right: 15px;
  /* border: 1px solid red; */
}

.online-list .online::after {
  top: unset;
  bottom: 5px;
}

/* What is the unset property? */

/* PLEASE NOTE: Setting the font-size property can affect the size of h1, h2, h3, h4 tags */
/* What is width fit-content: */

/* What is the default flex direction for anchor tag */
/* Main content ends */

.story-gallery {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  /* border: 2px solid red; */
}

.story {
  /* border: 2px solid green; */
  flex-basis: 18%;
  padding-top: 32%;
  position: relative;
  background-position: center;
  background-size: cover;
  border-radius: 10px;
}

.story img {
  position: absolute;
  width: 45px;
  height: 45px;
  /* border: 5px solid #1876f2; */
  border-radius: 50%;
  top: 10px;
  left: 10px;
}

.story p {
  position: absolute;
  bottom: 10px;
  width: 100%;
  /* border: 1px solid red; */
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.story .myimage-container img {
  object-fit: cover;
}

.story1 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/status-1.png);
}

.story2 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/status-2.png);
}

.story3 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/status-3.png);
}

.story4 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/status-4.png);
}

.story5 {
  background-image: linear-gradient(transparent, rgba(0, 0, 0, 0.5)),
    url(images/status-5.png);
}

.story.story1 img {
  top: unset;
  left: 50%;
  bottom: 40px;
  transform: translateX(-50%);
  border: 0;
  width: 35px;
  height: 35px;
}

.write-post-container {
  width: 100%;
  /* border: 2px solid green; */
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: #626262;
}

.user-profile {
  display: flex;
  align-items: center;
}

.user-profile img {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
}

.user-profile p {
  margin-bottom: -5px;
  font-weight: 600;
  color: #626262;
}

.user-profile small {
  font-size: 12px;
}

.post-input-container {
  /* border: 2px solid red; */
  padding-left: 55px;
  padding-top: 20px;
}

.post-input-container textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  background: transparent;
  resize: none;
}

.add-post-links {
  /* border: 1px solid purple; */
  display: flex;
  margin-top: 10px;
}

.add-post-links a {
  text-decoration: none;
  display: flex;
  /* border: 1px solid orange; */
  align-items: center;
  color: #626262;
  margin-right: 30px;
  font-size: 13px;
}

.add-post-links a img {
  width: 20px;
  margin-right: 10px;
}

.post-container {
  /* border: 2px solid green; */
  width: 100%;
  background: var(--bg-color);
  border-radius: 6px;
  padding: 20px;
  color: #626262;
  margin: 20px 0;
}

.user-profile span {
  font-size: 13px;
  color: #9a9a9a;
}

.user-profile p {
  /* border: 1px solid red; */
  padding-bottom: 2px;
}

.post-text {
  color: #9a9a9a;
  margin: 15px 0;
  font-size: 15px;
}

.post-text span {
  color: #626262;
  font-weight: 500;
}

.post-text a {
  color: #1876f2;
  text-decoration: none;
}

.post-img {
  width: 100%;
  border-radius: 4px;
  margin-bottom: 5px;
}

.post-row {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.post-row a {
  color: #9a9a9a;
}

.activity-icons div img {
  width: 18px;
  margin-right: 10px;
}

.activity-icons div {
  margin-right: 30px;
}

.activity-icons {
  /* border: 1px solid blue; */
  display: flex;
  align-items: center;
}

.post-profile-icons {
  display: flex;
  align-items: center;
}

.post-profile-icons img {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  margin-right: 5px;
  object-fit: cover;
}

.load-more-btn {
  border: 1px solid #9a9a9a;
  display: block;
  margin: auto;
  cursor: pointer;
  padding: 5px 10px;
  color: #626262;
  background: transparent;
  border-radius: 4px;
}

.footer {
  /* border: 2px solid green; */
  text-align: center;
  color: #9a9a9a;
  padding: 10px 0 20px;
  font-size: 13px;
}

.settings-menu {
  /* border: 1px solid red; */
  position: absolute;
  width: 90%;
  max-width: 350px;
  /* height: 500px; */
  background: var(--bg-color);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  border-radius: 4px;
  overflow: hidden;
  top: 108%;
  right: 5%;
  max-height: 0;
  transition: max-height 0.3s;
}

/* settings-menu-height is not used in the HTML file */

.settings-menu-height {
  max-height: 450px;
}

/* settings-menu-height is not used in the HTML file */

.user-profile a {
  font-size: 12px;
  color: #1876f2;
  text-decoration: none;
}

.settings-menu-inner {
  padding: 20px;
  /* border: 1px solid red; */
}

.settings-menu hr {
  /* border: 0; */
  height: 1px;
  margin: 15px 0;
  color: #9a9a9a;
}

.setting-links {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  margin: 15px 0;
}

.setting-links .setting-icon {
  width: 38px;
  margin-right: 10px;
  border-radius: 50%;
}

.setting-links a {
  /* border: 1px solid blue; */
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  color: #626262;
}

#dark-btn {
  position: absolute;
  width: 45px;
  /* height: 80px; */
  /* border: 1px solid green; */
  top: 20px;
  right: 20px;
  background: #ccc;
  border-radius: 15px;
  padding: 2px 3px;
  cursor: pointer;
  display: flex;
  transition: padding-left 0.5s, background 0.5s;
}

/* HOW INLINE-BLOCK WORKS
  You cannot add width to an inline element like span unless you add inline-block
*/

#dark-btn span {
  width: 18px;
  height: 18px;
  /* border: 1px solid red; */
  background: #fff;
  border-radius: 50%;
  display: inline-block;
}

#dark-btn.dark-btn-on {
  padding-left: 23px;
  background: #0a0a0a;
}

/* Width here is for small devices, while max-width here is for large devices */

/* What the hell is inline-flex?  */

/* The reason why we kept giving the post-containers width 100% is because of the large feed images*/

/* Resize property: To remove resize icon in textarea tag */

/* NOTE: Another popular technique of centering with position and translate. left: 50% and translateX(-50%) or right: 50% and translateY(-50%) */

/* NOTE: By default, the width of an element is the content area, but we can set it to 100% of its parent with width:100%

   We can use a popular technique of width: 100% and text-align: center to position text in the middle of their parent container
*/
/* Note: Whenever you add position absolute, just wait and see where it will go */

/*
  So here we are using flex-basis of 18%. Recall that flex basis is for the initial length (width) of FLEX ITEMS.

  Now we want a height/width ratio of 16/9 which is equal to 1.77778

  So, to get our height, we multiply 18 by 1.77778, which is 32.

  But we will not apply the 32% as height, rather we will apply it as padding. Recall box-sizing is for border and padding.

*/

/* The flex-basis property specifies the initial length (a.k.a width) of a flexible item. flex-basis: number|auto|initial|inherit; The number can be a unit length, and auto means the length is equal to the length of the flexible item. If the item has no length specified, the length will be according to its content. Default value is auto. */
/* Flex grow and shrink are assumed to be both 1 when only flex basis is given */

/* ----------Profile page css begin------------------- */
.profile-container {
  /* border: 2px solid red; */
  padding: 20px 15%;
  color: #626262;
}

.cover-img {
  width: 100%;
  border-radius: 6px;
  margin-bottom: 14px;
}

.profile-details {
  /* border: 1px solid blue; */
  background: var(--bg-color);
  padding: 20px;
  border-radius: 4px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.pd-left {
  /* border: 2px solid orange; */
}

.pd-right {
  /* border: 2px solid orange; */
  text-align: right;
}

/* Please note: Text align works for anchor tags */

.pd-row {
  display: flex;
  align-items: flex-start;
  /* border: 2px solid purple; */
}

.pd-image {
  width: 100px;
  height: 100px;
  object-fit: cover;
  margin-right: 20px;
  border-radius: 6px;
}

.pd-row div {
  /* border: 1px solid green; */
}

.pd-row div h3 {
  font-size: 25px;
  font-weight: 600;
}

.pd-row div p {
  font-size: 13px;
  margin-top: 5px;
}

.pd-row div img {
  width: 25px;
  border-radius: 50%;
  margin-top: 20px;
}

.pd-right button {
  background: #1876f2;
  border: 0;
  outline: 0;
  padding: 6px 10px;
  display: inline-flex;
  align-items: center;
  color: #fff;
  border-radius: 3px;
  margin-left: 10px;
  cursor: pointer;
}

.pd-right button img {
  height: 15px;
  margin-right: 10px;
}

.pd-right button:first-child {
  background: #e4e6eb;
  color: #000;
}

.pd-right a {
  background: #e4e6eb;
  /* padding: 12px; */
  border: 1px solid red;
  border-radius: 3px;
  margin-top: 30px;
  padding: 12px;
  display: inline-flex;
}

.pd-right a img {
  width: 20px;
}

.profile-info {
  display: flex;
  /* border: 2px solid purple; */
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 20px;
}

.info-col {
  flex-basis: 33%;
  /* border: 1px solid red; */
}

.post-col {
  /* border: 1px solid green; */
  flex-basis: 65%;
}

.profile-intro {
  background: var(--bg-color);
  padding: 20px;
  margin-bottom: 20px;
  /* border: 1px solid brown; */
  border-radius: 4px;
}

.profile-intro h3 {
  font-weight: 600;
}

.intro-text {
  text-align: center;
  margin: 10px 0;
  /* border: 1px solid red; */
  font-size: 15px;
}

.intro-text img {
  width: 15px;
  margin-bottom: -3px;
}

.profile-intro hr {
  border: 0;
  background: #ccc;
  height: 1px;
  margin: 24px 0;
}

.profile-intro ul li {
  list-style: none;
  font-size: 15px;
  margin: 15px 0;
  /* border: 1px solid green; */
  display: flex;
  align-items: center;
}

.profile-intro ul li img {
  width: 26px;
  margin-right: 10px;
}

.title-box {
  display: flex;
  /* border: 1px solid red; */
  align-items: center;
  justify-content: space-between;
}

.title-box a {
  text-decoration: none;
  color: #1876f2;
  font-size: 14px;
}

.photo-box {
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin-top: 15px;
}

.photo-box div img {
  width: 100%;
  cursor: pointer;
}

.profile-intro p {
  font-size: 14px;
}

.friends-box {
  /* border: 2px solid blue; */
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 10px;
  margin-top: 15px;
}

.friends-box div img {
  width: 100%;
  cursor: pointer;
  padding-bottom: 20px;
  /* border: 1px solid green; */
}

.friends-box div {
  position: relative;
  /* border: 2px solid red; */
}

.friends-box p {
  position: absolute;
  bottom: 0;
  left: 0;
}

/* Note: An img tag is a block element */

/* Please note: Grid di not increase the flex basis, only the images increased. So we had to resize the images with width 100% t get back our original flex basis */
/* Unlike display flex, grid will not do anything initially */

/* PLEASE NOTE: it is on the li tag that you can remove the list-style, NOT on the ul tag */

/* PLEASE NOTE: Use -ve margin when you want to negate top, bottom, left or right */

/* What is align-item: flex-start = align-items : controls alignment of all items on the cross axis.*/
/* -----------Profile page css ends--------------- */
